# Copy this file to secrets.yml and fill in your data

git_user_name: YOUR_NAME
git_user_email: YOUR_EMAIL
git_user_signinkey: YOUR_SIGNINKEY
git_github_user: YOUR_USER
git_github_token: YOUR_TOKEN
git_urls: [] # urls for which you want to force https instead of git, eg: github.com/omissis
