---

# Setup asdf as per https://blog.sighup.io/manage-tools-with-ease-direnv-asdf/

- name: Check if .bashrc files exist
  become: false
  stat:
    path: "{{ lookup('env','HOME') }}/.bashrc"
  register: "bashrc"

- name: Configure asdf.sh in .bashrc
  become: false
  lineinfile:
    path: "{{ bashrc.stat.path }}"
    regexp: '\/[.]asdf\/asdf[.]sh$'
    line: ". {{ lookup('env','HOME') }}/.asdf/asdf.sh"
  when: bashrc.stat.exists

- name: Configure direnv hook in .bashrc
  become: false
  lineinfile:
    path: "{{ bashrc.stat.path }}"
    regexp: '^eval\ \"\$\(asdf\ exec\ direnv\ hook\ bash\)\"$'
    line: 'eval "$(asdf exec direnv hook bash)"'
  when: bashrc.stat.exists

- name: Check if .zshrc files exist
  become: false
  stat:
    path: "{{ lookup('env','HOME') }}/.zshrc"
  register: "zshrc"

- name: Configure asdf.sh in .zshrc
  become: false
  lineinfile:
    path: "{{ zshrc.stat.path }}"
    regexp: '\/[.]asdf\/asdf[.]sh$'
    line: ". {{ lookup('env','HOME') }}/.asdf/asdf.sh"
  when: zshrc.stat.exists

- name: Configure direnv hook in .zshrc
  become: false
  lineinfile:
    path: "{{ zshrc.stat.path }}"
    regexp: '^eval\ \"\$\(asdf\ exec\ direnv\ hook\ zsh\)\"$'
    line: 'eval "$(asdf exec direnv hook zsh)"'
  when: zshrc.stat.exists

- name: Configure direnv hook in direnvrc config file
  become: false
  lineinfile:
    path: "{{ lookup('env','HOME') }}/.config/direnv/direnvrc"
    regexp: '^source\ \"\$\(asdf\ direnv\ hook\ asdf\)\"$'
    line: 'source "$(asdf direnv hook asdf)"'
    create: yes

- name: Configure asdf in .envrc
  become: false
  lineinfile:
    path: "{{ lookup('env','HOME') }}/.envrc"
    regexp: '^use\ asdf$'
    line: 'use asdf'
    create: yes

- name: Configure tool versions
  become: false
  lineinfile:
    path: "{{ lookup('env','HOME') }}/.tool-versions"
    regexp: '^direnv'
    line: 'direnv {{ direnv_version }}'
    create: yes
